.nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.nav .logo img{
    width: 50px;
}

.nav .nav_but a{
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

.container {
    display: flex;
    height: 150px;
    background: #a2d5f2
}
  
.item {
    width: 70px;
    height: 25px;
    margin: 5px;
    border-radius: 17%;
    text-align: center;
    align-items: center;
    background: #54b2e8;
    color: white;
} 

.item:hover, :focus {
    cursor:pointer;
    background: #1799e4;
}

.dropbut {
    text-align: center;
    align-items: center;
    font-size: 10px;
    background-color: rgb(17, 16, 16);
}

.dropbut:hover, :focus{
    cursor:pointer;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    background-color: white;
    color:black;
}

.input1 {
    width: 100px;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    font-size: 30px;
}

.input2 {
    width: 200px;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    font-size: 30px;
}

.inputButton{
    width: 100px;
    height: 60px;
    margin-top: 10px;
    border-top : none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    font-size: 30px;
}

.inputButton:hover{
    cursor: pointer;
    background-color: #727678;
}